body{
  background-color: rgb(228 201 229);
  font-family: 'Playpen Sans', cursive;
} 

#gameBoard {
  /* width: 400px; */
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  }

.card {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
  background-color: yellow;
 
}

.thisCard{
margin-top: 10%;
}

.table-position{
  margin-left: 20%;
}


.footer-margin{
  margin-top: 25%;
 

}

.carousel-height{
  height:100px;
}

@media screen and (max-width: 559px) {
  table {
    display: none;
  }
}

/* Animations */

@keyframes example {
  from {background-color: yellow;}
  to {background-color: lightcoral;}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.flipped{
  animation-name: example;
  animation-duration: 0.3s;
  animation-name: spin;
  animation-duration: 0.2s;
}